.title {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 48px;
  margin-bottom: 32px;
  color: rgb(17, 23, 94);
  font-weight: 600;
  line-height: 57px;
  letter-spacing: 1%;
}
